// layout {
//     gaps 10
// }

// window-rule {
//     geometry-corner-radius 8
// }

binds {
    Mod+Space repeat=false { spawn-sh "vicinae toggle"; }
    Mod+Period repeat=false { spawn-sh "vicinae deeplink vicinae://extensions/vicinae/core/search-emojis"; }
    Mod+V repeat=false { spawn-sh "vicinae deeplink vicinae://extensions/vicinae/clipboard/history"; }
}
