layout {
    gaps 10
}

window-rule {
    geometry-corner-radius 8
}

binds {
    Mod+Space { spawn-sh "vicinae toggle"; }
    Mod+Period { spawn-sh "vicinae vicinae://extensions/vicinae/vicinae/search-emojis"; }
    Mod+V { spawn-sh "vicinae vicinae://extensions/vicinae/clipboard/history"; }
}
